.vscode

bin

proto/*
!proto/*.proto

# I don't know why github.com/anacrolix/torrent is using these for storage
.torrent.bolt.db
.torrent.bolt.db.lock

*.log

*.mkv

ultimate-nyaa.exe

# ignore ultimate-proto repository
ultimate-proto